<footer class="footer">
  <small>
    <a href="http://simplepickup.com/">SimplePickup</a>
    Men's Lifestyle Digital Conglomerate
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.youtube.com/user/SimplePickup/">YouTube</a></li>
    </ul>
  </nav>
</footer>